.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center; /* optional if you want content centered */
  background-image: url('../../../../public/background1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.title{
    font-size: 75px;
    text-align: center;
}
.subtitle{
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}
.intro-text{
    width:100%;
    text-align: 'center';
}
.buttomContainer {
  margin-top: 50px;
  display: flex;               
  justify-content: space-evenly;      
  align-items: center;          
                   
}
.landingbutton{
    width: 200px;
    height: 55px;
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .title {
    font-size: 50px;
    padding: 0 100px;
  }

  .buttomContainer {
    gap: 30px; /* slightly wider spacing */
  }
}
@media only screen and (min-width:1200px){
    
.buttomContainer {
   padding: 0  200px;        
                   
}
.title{
    padding: 0 100px;
}


}

@media only screen and (max-width:768px){
    .title{
        font-size: 35px;
        padding-top: 10px;
    }
    .landingbutton{
    width: 50px;
    height: 30px;
}
.buttomContainer {
  margin-top: 0px;
  display: flex;               
  justify-content: space-evenly;      
  align-items: center;          
                   
}
.subtitle{
    font-size: 15px;
    padding-top: 0px;
    text-align: center;
}

}
