.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.loginImage{
  object-fit: contain;
}
.btn .spinner-border {
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
